{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h2>
        Resume History
    </h2>

    <hr>

    <table class="table table-bordered table-hover">

        <thead>

            <tr>

                <th>ID</th>
                <th>File Name</th>
                <th>ATS Score</th>
                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            {% for resume in resumes %}

            <tr>

                <td>
                    {{ resume.id }}
                </td>

                <td>
                    {{ resume.file_name }}
                </td>

                <td>
                    {{ resume.ats_score }}
                </td>

                <td>

                    <a href="/download/{{ resume.file_name }}"
                       class="btn btn-success btn-sm">
                        Download
                    </a>

                    <a href="/parse-resume/{{ resume.id }}"
                       class="btn btn-primary btn-sm">
                        Parse
                    </a>

                    <a href="/ats-analyzer/{{ resume.id }}"
                       class="btn btn-warning btn-sm">
                        ATS
                    </a>

                    <a href="/match-job/{{ resume.id }}"
                       class="btn btn-info btn-sm">
                        Match JD
                    </a>

                    <a href="/career-prediction/{{ resume.id }}"
                       class="btn btn-dark btn-sm">
                        Career
                    </a>

                    <a href="/skill-gap/{{ resume.id }}"
                       class="btn btn-secondary btn-sm">
                        Skill Gap
                    </a>

                    <a href="/roadmap/{{ resume.id }}"
                       class="btn btn-danger btn-sm">
                        Roadmap
                    </a>
                    
                    <a href="/interview/{{ resume.id }}"
                        class="btn btn-primary btn-sm">
                        Interview
                    </a>

                    <a href="/resume-improvement/{{ resume.id }}"
                        class="btn btn-success btn-sm">
                        Improve
                    </a>

                    <a href="/dashboard-analytics/{{ resume.id }}"
                        class="btn btn-primary btn-sm">
                        Dashboard
                    </a>

                    <a href="/pdf-report/{{ resume.id }}"
                        class="btn btn-danger btn-sm">
                         PDF
                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}